<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        /* Add styles for the video background */
        .video-background {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }
        .content {
            position: relative;
            z-index: 1;
            color: white; /* Ensure text is visible over the video */
            text-align: center;
            padding: 20px;
        }
      
    </style>
</head>
<body>
    <video class="video-background" autoplay loop muted>
        <source src="{{ url_for('static', filename='videos/BestWorkout.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="content">
        
        <h2>Welcome to Yetty's Fitness!</h2>
    </div>
</body>
</html>
